@media (max-width: 1024px) {
    nav a {
        font-weight: 400;
    }
    .hero .logo {
        width: 10%;
    }
    .hero h1 {
        font-size: 65px;
        padding: 20px 0;
    }
    .hero h2 {
        font-size: 18px;
    }
    .dts-hero-logo {
        width: 50px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 25px;
    }
    header .container {
        justify-content: space-between;
    }
    .team-logo {
        display: flex;
        margin-left: 30px;
    }
    nav {
        margin-right: 30px;
    }
    nav li {
        margin: 0;
    }
    nav a {
        padding: 20px;
        font-size: 15px;
    }
    .logo {
        display: none;
    }
    .hero h1 {
        font-size: 64px;
        padding: 20px 0;
    }
    .hero h2 {
        font-size: 20px;
    }
    .introduction h2:last-child {
        font-size: 25px;
    }
    .member {
        width: 235px;
        height: 235px;
    }
    .description p {
        top: 6%;
    }
    .description h2 {
        top: 10%;
    }
    .contact-form {
        width: 80%;
    }
}

@media (max-width: 595px) {
    nav a {
        padding-left: 15px;
        padding-right: 10px;
    }
    .hero h1 {
        font-size: 51px;
        line-height: 80px;
    }
    .hero h2 {
        font-size: 17px;
    }
    .introduction h2:last-child {
        font-size: 23px;
    }
    .member {
        width: 200px;
        height: 200px;
    }
    .service {
        width: 210px;
        height: 300px;
        margin: 20px 10px;
    }
    .service p {
        margin: 0 auto;
        width: 80%;
    }
    .contact-form {
        width: 90%;
    }
    .data-input label,
    .data-input input {
        font-size: 14px;
    }
    .submit {
        font-size: 17px;
        padding: 10px 25px 10px;
    }
    .team-I41,
    .dts,
    .progate {
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .media-wrapper {
        margin: 5px 5px 15px;
    }
    .media-wrapper .brand {
        margin: 5px auto 10px;
    }
    .media-wrapper p {
        font-size: 13px;
    }
    .footer-team-logo {
        margin: 0 auto;
        width: 40px;
    }
    .team-info p {
        font-size: 15px;
    }
    .social-media-icon {
        margin: 0 6px;
        width: 30px;
    }
    .sponsors h2 {
        font-size: 18px;
    }
    .sponsor-brand .brand {
        width: 60px;
        padding: 15px;
    }
}

@media (max-width: 443px) {
    .hero .container {
        position: absolute;
        top: 20%;
        left: 0%;
    }
    h1 {
        font-size: 30px;
    }
    .team-logo {
        width: 7%;
        padding: 15px 0 15px;
    }
    .menu-bar .menu-icon {
        width: 35px;
    }
    nav ul {
        display: none;
    }
    .hero h1 {
        font-size: 47px;
        word-spacing: 10px;
    }
    .member {
        width: 240px;
        height: 240px;
    }
    .service {
        width: 70%;
        height: 400px;
    }
    .background {
        width: 50%;
        height: 38%;
    }
    .service h2 {
        font-size: 30px;
    }
    .data-input,
    .data-input:nth-child(4) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: 0;
        padding: 5px;
    }
    .data-input label {
        font-size: 15px;
        padding: 20px 0 10px;
    }
    .data-input input,
    .data-input textarea {
        padding: 10px 10px;
        width: 90%;
        height: 30%;
        font-size: 15px;
    }
    .submit {
        margin: 30px auto 30px;
        width: 80%;
    }
}

@media (max-width: 352px) {
    h1 {
        font-size: 20px;
    }
    .hero h1 {
        font-size: 35px;
        word-spacing: 3px;
        line-height: 50px;
    }
    .hero p {
        font-size: 10px;
    }
    .introduction h2:last-child {
        font-size: 20px;
    }
    .member {
        width: 220px;
        height: 220px;
    }
    .service {
        height: 320px;
    }
    .service h2 {
        font-size: 22px;
    }
    footer .container {
        flex-direction: column;
        flex: wrap;
        justify-content: center;
        align-items: center;
    }
}